In [14]:
import pandas as pd

In [15]:
path = "../../../Dataset/kddcup.data_10_percent"
dataset = pd.read_csv(path, header=None)
print("Number of attack type: ")
dataset[41].value_counts()

Number of attack type:

smurf.              280790
neptune.            107201
normal.              97278
back.                 2203
satan.                1589
ipsweep.              1247
portsweep.            1040
warezclient.          1020
teardrop.              979
pod.                   264
nmap.                  231
guess_passwd.           53
buffer_overflow.        30
land.                   21
warezmaster.            20
imap.                   12
rootkit.                10
loadmodule.              9
ftp_write.               8
multihop.                7
phf.                     4
perl.                    3
spy.                     2
Name: 41, dtype: int64

In [16]:
print(f"Total number of records is: {len(dataset)}")

Total number of records is: 494021

In [23]:
num_rows_with_nan = dataset.isnull().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nan)

Number of rows with NaN values: 0         False
1         False
2         False
3         False
4         False
          ...
494016    False
494017    False
494018    False
494019    False
494020    False
Length: 494021, dtype: bool