In [2]:
import pandas as pd

In [3]:
monday_working_path = "../../../Dataset/CIC-IDS-2017/Monday-WorkingHours.pcap_ISCX.csv"
tuesday_working_hours_path = "../../../Dataset/CIC-IDS-2017/Tuesday-WorkingHours.pcap_ISCX.csv"
wednesday_working_hours_path = "../../../Dataset/CIC-IDS-2017/Wednesday-workingHours.pcap_ISCX.csv"
thursday_working_hours_morning_web_attacks_path = "../../../Dataset/CIC-IDS-2017/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv"
thursday_working_hours_afternoon_infilteration_path = "../../../Dataset/CIC-IDS-2017/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv"
friday_working_hours_morning_path = "../../../Dataset/CIC-IDS-2017/Friday-WorkingHours-Morning.pcap_ISCX.csv"
friday_working_hours_afternoon_ddos_path = "../../../Dataset/CIC-IDS-2017/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv"
friday_working_hours_afternoon_port_scan_path = "../../../Dataset/CIC-IDS-2017/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv"

monday_table = pd.read_csv(monday_working_path)
tuesday_table = pd.read_csv(tuesday_working_hours_path)
wednesday_table = pd.read_csv(wednesday_working_hours_path)
thursday_morning_table = pd.read_csv(thursday_working_hours_morning_web_attacks_path) 
# Got error UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 22398: invalid start byte
# thursday_morning_table = pd.read_csv(thursday_working_hours_morning_web_attacks_path, encoding="cp1252")
thurdays_afternoon_table = pd.read_csv(thursday_working_hours_afternoon_infilteration_path)
friday_morning_table = pd.read_csv(friday_working_hours_morning_path)
friday_afternoon_ddos_table = pd.read_csv(friday_working_hours_afternoon_ddos_path)
friday_afternoon_port_scan_table = pd.read_csv(friday_working_hours_afternoon_port_scan_path)

dataset = pd.concat(objs=[monday_table, tuesday_table, wednesday_table, thursday_morning_table, thurdays_afternoon_table,
                          friday_morning_table, friday_afternoon_ddos_table, friday_afternoon_port_scan_table])

In [4]:
dataset[" Label"].value_counts()

BENIGN                        2273097
DoS Hulk                       231073
PortScan                       158930
DDoS                           128027
DoS GoldenEye                   10293
FTP-Patator                      7938
SSH-Patator                      5897
DoS slowloris                    5796
DoS Slowhttptest                 5499
Bot                              1966
Web Attack � Brute Force         1507
Web Attack � XSS                  652
Infiltration                       36
Web Attack � Sql Injection         21
Heartbleed                         11
Name:  Label, dtype: int64

In [35]:
# thursday_morning_table[thursday_morning_table[" Label"] == "Web Attack � Sql Injection"]

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
90293,80,5006127,4,4,447,530,447,0,111.75,223.500000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
90328,80,508,2,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
90329,80,5069927,4,4,460,1840,460,0,115.00,230.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
90351,80,42,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
90370,80,5038618,4,4,537,1881,537,0,134.25,268.500000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
90703,80,43,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
91037,80,5086516,5,4,600,4149,600,0,120.00,268.328157,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
91174,80,48,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
91472,80,5006168,4,4,599,2021,599,0,149.75,299.500000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
91519,80,78,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
91571,80,5009041,4,4,523,530,523,0,130.75,261.500000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
91615,80,71,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
92412,80,5009673,4,4,536,1840,536,0,134.00,268.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
92459,80,73,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
92482,80,5007460,5,3,537,1881,537,0,107.40,240.153701,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
92590,80,5012479,6,4,600,4149,600,0,100.00,244.948974,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
92885,80,5005388,5,3,599,2021,599,0,119.80,267.880944,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
92984,80,5016759,5,5,599,4149,599,0,119.80,267.880944,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
93233,80,5009163,4,4,599,2021,599,0,149.75,299.500000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
93242,80,73,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection
93286,80,109,1,1,0,0,0,0,0.00,0.000000,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Web Attack � Sql Injection

In [5]:
import pandas as pd


df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': [6, 7, 8, 9, 10],
                   'C': [11, 12, 13, 14, 15]})
def g(df):
    return df.drop(df[df['A'] % 2 == 0].index)

result = g(df.copy())
print(result)

   A   B   C
0  1   6  11
2  3   8  13
4  5  10  15

In [15]:

df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': [6, 7, 8, 9, 10],
                   'C': [11, 12, 13, 14, 15]})
df

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [16]:
df.drop(labels=df[df["A"] % 2 == 0].index, inplace=True)

In [17]:
df

   A   B   C
0  1   6  11
2  3   8  13
4  5  10  15

In [109]:
monday_working_path = "../../../Dataset/CIC-IDS-2017/Monday-WorkingHours.pcap_ISCX.csv"
tuesday_working_hours_path = "../../../Dataset/CIC-IDS-2017/Tuesday-WorkingHours.pcap_ISCX.csv"
wednesday_working_hours_path = "../../../Dataset/CIC-IDS-2017/Wednesday-workingHours.pcap_ISCX.csv"
thursday_working_hours_morning_web_attacks_path = "../../../Dataset/CIC-IDS-2017/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv"
thursday_working_hours_afternoon_infilteration_path = "../../../Dataset/CIC-IDS-2017/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv"
friday_working_hours_morning_path = "../../../Dataset/CIC-IDS-2017/Friday-WorkingHours-Morning.pcap_ISCX.csv"
friday_working_hours_afternoon_ddos_path = "../../../Dataset/CIC-IDS-2017/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv"
friday_working_hours_afternoon_port_scan_path = "../../../Dataset/CIC-IDS-2017/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv"

monday_table = pd.read_csv(monday_working_path)
tuesday_table = pd.read_csv(tuesday_working_hours_path)
wednesday_table = pd.read_csv(wednesday_working_hours_path)
thursday_morning_table = pd.read_csv(thursday_working_hours_morning_web_attacks_path)
thurdays_afternoon_table = pd.read_csv(thursday_working_hours_afternoon_infilteration_path)
friday_morning_table = pd.read_csv(friday_working_hours_morning_path)
friday_afternoon_ddos_table = pd.read_csv(friday_working_hours_afternoon_ddos_path)
friday_afternoon_port_scan_table = pd.read_csv(friday_working_hours_afternoon_port_scan_path)

dataset = pd.concat(objs=[monday_table, tuesday_table, wednesday_table, thursday_morning_table, thurdays_afternoon_table,
                      friday_morning_table, friday_afternoon_ddos_table, friday_afternoon_port_scan_table])

In [110]:
dataset = dataset.copy()

In [111]:
dataset[" Label"].value_counts()
dataset = dataset[~dataset[" Label"].isin(["Web Attack � Sql Injection", "Heartbleed", "Infiltration"])]

In [112]:
dataset

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,49188,4,2,0,12,0,6,6,6.000000,0.000000,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,49188,1,2,0,12,0,6,6,6.000000,0.000000,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,49188,1,2,0,12,0,6,6,6.000000,0.000000,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,49188,1,2,0,12,0,6,6,6.000000,0.000000,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,49486,3,2,0,12,0,6,6,6.000000,0.000000,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286462,443,196135,49,57,1331,105841,570,0,27.163265,108.067176,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
286463,443,378424,49,59,1325,104393,570,0,27.040816,108.095051,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
286464,443,161800,70,103,1427,215903,570,0,20.385714,90.746389,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
286465,443,142864,50,62,1331,110185,570,0,26.620000,107.027727,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
286466,443,186928,46,57,1319,100049,570,0,28.673913,111.438085,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [113]:
dataset[dataset[" Label"] == "BENIGN"].sample(frac=0.2).index

Int64Index([243303, 526277, 364499, 434642, 424110, 174395,  44805, 260351,
            145647, 682398,
            ...
            339843,  53608, 130542,  11342, 298011, 111234, 390724,  77205,
            302166, 149116],
           dtype='int64', length=454619)

In [114]:
dataset[" Label"].value_counts()

BENIGN                      2273097
DoS Hulk                     231073
PortScan                     158930
DDoS                         128027
DoS GoldenEye                 10293
FTP-Patator                    7938
SSH-Patator                    5897
DoS slowloris                  5796
DoS Slowhttptest               5499
Bot                            1966
Web Attack � Brute Force       1507
Web Attack � XSS                652
Name:  Label, dtype: int64

In [115]:
dataset_x = dataset.drop(dataset[dataset[" Label"] == "BENIGN"].sample(frac=0.2).index)
dataset_x[" Label"].value_counts()

BENIGN                      915581
DoS Hulk                     94877
PortScan                     59302
DDoS                         38699
DoS GoldenEye                 9738
SSH-Patator                   3389
FTP-Patator                   1904
DoS slowloris                 1419
DoS Slowhttptest              1310
Bot                            748
Web Attack � Brute Force       411
Web Attack � XSS               210
Name:  Label, dtype: int64

In [116]:
dataset[" Label"].value_counts()

BENIGN                      2273097
DoS Hulk                     231073
PortScan                     158930
DDoS                         128027
DoS GoldenEye                 10293
FTP-Patator                    7938
SSH-Patator                    5897
DoS slowloris                  5796
DoS Slowhttptest               5499
Bot                            1966
Web Attack � Brute Force       1507
Web Attack � XSS                652
Name:  Label, dtype: int64

In [117]:
benign_dataset = dataset[dataset[" Label"] == "BENIGN"].sample(n=200000)

In [118]:
dataset = dataset[dataset[" Label"] != "BENIGN"].copy()

In [121]:
dataset[" Label"].value_counts()

DoS Hulk                    231073
PortScan                    158930
DDoS                        128027
DoS GoldenEye                10293
FTP-Patator                   7938
SSH-Patator                   5897
DoS slowloris                 5796
DoS Slowhttptest              5499
Bot                           1966
Web Attack � Brute Force      1507
Web Attack � XSS               652
Name:  Label, dtype: int64

In [ ]:
dataset_x